[Unit]
Description=Starts the riptide kill switch
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/osu-uwrt/kill_switch
ExecStart=/bin/bash -lc '/home/pi/osu-uwrt/kill_switch/src/robostop/start_kill.sh'
Restart=on-failure

[Install]
WantedBy=default.target
